$color-background: #24292c;
$color-navigation: rgba(32, 36, 39, 0.8);
$color-activeLink: #3498db;
@mixin tablet-small {
    @media screen and (min-width: 550px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1000px) {
        @content;
    }
}