@import 'variables';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $color-background;
    overflow-x: hidden;
}